@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Water+Brush&display=swap');
/*Fonte Ulisses*/
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');

nav, footer {
    text-align: center;
    letter-spacing: 3px;
    line-height: 42px;
    background-color:royalblue;
    color: white;
}

a {
    color: white;
}
/*quando tem . significa que é o seletor de uma classe*/
.font-ulisses {
    font-family: 'Creepster', cursive;
    font-size: 22px;
}

.font-bia {
    font-family: 'Lobster', cursive;
    font-size: 20px;
}

.font-gustavo {
    font-family: 'Water Brush', cursive;
    font-size: 25px;
}

.font-kayo {
    font-family: 'Rubik Glitch', cursive;
    font-size: 29px;
}

/*A ordem dos fatores altera o produto*/

.font-caio {
    font-family: 'Courgette', cursive;
    font-size: 17px;
} 

/*A ordem dos fatores altera o produto*/
