@import url('https://fonts.googleapis.com/css2?family=Water+Brush&display=swap');
/*Fonte Ulisses*/
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

p {
    color: blue;
    width: 500px;
    border: 3px solid gray;
}

div {
    color: purple;
    width: 500px;
    border: 3px solid gray;
}

/*quando tem . significa que é o seletor de uma classe*/
.font-ulisses {
    font-family: 'Creepster', cursive;
    font-size: 22px;
}
.font-gustavo {
    font-family: 'Water Brush', cursive;
    font-size: 25px;
}


/*A ordem dos fatores altera o produto*/