@import url('https://rsms.me/inter/inter.css');
        
        html {
            font-family: 'inter';
        }

        * {
            margin: 0;
            padding: 0;
        }

        .left {
            background-color: rgba(21, 101, 216, 0.9);
            width: 45%;
            height: 100vh;
            float: left;
            color: white;
            background:
                linear-gradient(rgba(21, 101, 216, 0.9), rgba(0, 0, 0, 0.9)),
                url('../imagens/background.jpeg');
            background-repeat: no-repeat;
            background-size: cover;

        }

        .right {
            width: 55%;
            background-color: white;
            height: 100vh;
            float: left;
            overflow: auto;


        }

        .logo {
            margin-top: 64px;
            margin-left: 82px;
        }

        .logo>p {
            display: inline-block;
            color: white;
        }

        .descricao {
            margin-left: 82px;
            margin-top: 150px;
            padding-right: 111px;
        }

        .aspas {
            font-family: 'Gayathri';

            font-size: 96px;
            font-style: bold;
            color: #00DAF7;
            position: relative;
            top: 40px;

        }

        .autor {
            margin-top: 10px;
            display: inline-block;
        }

        .canto {
            display: block;
            margin-top: 35px;
            margin-left: auto;
            padding-right: 111px;
        }