<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../estilos/css.css" type="text/css">
    <title>Estudos Ulissera</title>
</head>

<body>
    <nav class="navbar">
        <p>navbar</p>
    </nav>
    <main>
        <aside class="filter">filter</aside>
        <article class="content">
            <p>Programadores programam, só isso. Nunca ficarão ricos programando.

                No máximo vão conseguir tirar umas certificações com os pés nas costas.

                Analista de software, Engenheiro de software talvez se essa classe consiga resolver um problema razoável
                e demonstrar que seu algoritmo pode ajudar alguém mais a ganhar dinheiro.

                A partir desse ponto, tanto o programador como o analista deixam de ser o que são para se tornarem…
                vendedores e empresários.

                Coloque gente para trabalhar em seu software e serás empresário.

                Venda o uso do software ou os direitos sobre o software e serás um vendedor.

                Resumindo, Enquanto programadores programam e analistas analistam, vendedores e empresários ficam ricos.
            </p>
        </article>
    </main>
    <footer class="footer">
        <p>esse é o footer</p>
    </footer>
</body>

</html>