
*{
    margin: 0;
    padding: 0;
}

.left {
    color: white;
    background-color: blue;
    position: absolute;
    width: 666px;
    height: 1024px;
    left: 0px;
    top: 0px;

}
.logo{
    position: absolute;
    width: 43.6px;
    height: 30px;
    left: 82px;
    top: 94px;
}
.oasis{
    position: absolute;
    width: 46px;
    height: 19px;
    left: 136px;
    top: 106px;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}

.aspas{
    position: absolute;
    width: 28px;
    height: 117px;
    left: 82px;
    top: 330px;

    font-family: 'Gayathri';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 117px;
    display: flex;
    align-items: center;

    color: #00DAF7;
}
.text{
    position: absolute;
    width: 473px;
    height: 190px;
    left: 82px;
    top: 430px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;

    color: #FFFFFF;   
}
.text2{
    position: absolute;
    width: 101px;
    height: 22px;
    left: 82px;
    top: 582px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}
.certo{
    position: absolute;
    width: 101px;
    height: 22px;
    left: 165px;
    top: 585px;

}
.cantoL{
    position: absolute;
    width: 33.5px;
    height: 33px;
    left: 517.5px;
    top: 639px;
}




.right{
    text-decoration: none;
    color: white;
    background-color: red;
    float: right;
    width: 65%;
    height: 100vh;
}
.back{
    display: inline-block;
    margin-top: 64px;
    margin-left: 82px;
}
.back a:link, a:visited {
	text-decoration: none;
    color: #8692A6;
}
.step{
    display: inline-block;
    margin-top: 75px;
    margin-left: 565px;
}
