
*{
    margin: 0;
    padding: 0;
}

.left {
    text-decoration: none;
    color: white;
    float: left;
    width: 45%;
    max-width: 45%;
    height: 100vh;
    background: linear-gradient(rgba(21, 101, 216, 0.9),rgba(0, 0, 0, 0.9)), url('../img/background_predio.jpeg');
    background-repeat: no-repeat;
    background-size: cover;

}
.containerLeft{
    max-width: 60%;
    margin: 0 15%;
}
.logo{
    margin-top: 64px;
}
.oasis{
    margin-top: -18px;
    margin-left: 45px;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}

.aspas{
    margin-top: 195px;
    color: #00DAF7;
}
.text{
    margin-top: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    color: #FFFFFF;   
}
.text2{
    margin-top: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}
.certo{
    margin-top: -19px;
    margin-left: 80px;

}
.cantoL{
    display: block;
    margin-left: 535px;
}


---------

.right{
    width: 55%;
    max-width: 55%;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    float: right;
    
}
.back{
    display: inline-block;
    margin-top: 64px;
    margin-left: 105px;
}
.back a:link, a:visited {
	text-decoration: none;
    color: #8692A6;
}
.step{
    display: inline-block;
    margin-left: 655px;
}
.personal{
    display: inline-block;
    margin-left: 805px;
    color: #8692A6;
}
.register{
    display: inline-block;
    margin-top: 50px;
    margin-left: 240px;
    font-size: 40px;
}
.for{
    display: inline-block;
    margin-top: 10px;
    margin-left: 243px;
    font-size: 22px;
    color: #8692A6;
}
.form{
    background-color: #ffffff;
    margin-left: 1110px;
    width: 22.3%;
    height: 38vh;
}
.form label{
    width: 113px;
    height: 19px;
    margin-top: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #696F79;
}
.form input{
    margin-top: 25px;
    width: 426px;
    height: 64px;
    background: #FFFFFF;
    border: 1px solid #1565D8;
    box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.11);
    border-radius: 6px;
}

 .placeholder{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
}
.checkbox{
    display: inline-block;
    margin-left: 245px;
    margin-top: 115px;
}
.checkbox label{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: inline-block;
    align-items: center;
    width: 220px;
    height: 19px;
    color: #696F79;
}
.button{
    margin-left: 245px;
    margin-top: 30px;
    width: 426px;
    height: 64px;
    background: #1565D8;
    border-radius: 6px;
}
.button p{
    width: 132px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    text-align: center;
    margin-left: 145px;
    color: #FFFFFF;
}
.button:hover{
    background: #25d815;
}