* {
    margin: 0;
    padding:0px;
}
.left {
    width: 45%;
    max-width: 45%;
    background: 
        linear-gradient(rgba(21, 101, 216, 0.9),rgba(0, 0, 0, 0.9)),
        url('./imagens//background.jpeg');
    height: 100vh;
    float: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.right {
    width: 55%;
    max-width: 55%;
    background-color: #FFF;
    height: 100vh;
    float: right;
}

.logo{
    margin-top: 64px;
}

.logo > p {
    display: inline;
    color:white;
    font-size: 16px;
}

.descricao {
    margin-top: 276px;
    color: white;
}

.artigo {
    font-size: 20px;
    line-height: 38px;
}

.autor {
    margin-top: 22px;
    font-size: 16px;
    line-height: 22px;
    display: inline-block;
}

.container {
    max-width: 70%;
    margin: 0 auto;
}

.pontuacao {
    font-size: 96px;
    color: #00DAF7;
    position: relative;
    top: 30px;
}

.canto {
    display: block;
    margin-top: 35px;
    margin-left: auto;
}